@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
}

 <h1>@Configuration["HelloMessage"]</h1>